.Card {
  background-color: #c1ece9;
  border-style: solid;
  border-radius: 20px;
  border-width: 2px;
  border-color: black;
  width: 500px;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding: 10px;
}
.intro {
  color: darkblue;
  font-weight: bold;
}
